<form>
  <div>
    <h2>Persistent Damage Type</h2>
    <div class='automated-effects effects-window damage-types types'>
      {{#each types.damage}}
        <div>
          <input type='radio' name='type' id='{{this.damageType}}' value='{{this.damageType}}' />
          <label for='{{this.damageType}}'><img src='{{this.img}}' />{{this.name}}</label>
        </div>
      {{/each}}
    </div>
    <h2>Persistent Healing Type</h2>
    <div class='automated-effects effects-window healing-types types'>
      {{#each types.healing}}
        <div>
          <input type='radio' name='type' id='{{this.healingType}}' value='{{this.healingType}}' healing />
          <label for='{{this.healingType}}'><img src='{{this.img}}' />{{this.name}}</label>
        </div>
      {{/each}}
    </div>
  </div>

  <div class='automated-effects effects-window form-group'>
    <h2 name='options' style='flex: inherit;'>Options:</h2>
    <div class='form-fields'>
      <label title='Whats the damage formula for this Effect?'>Formula
        <input type='text' name='damage' placeholder='1d6' /></label>
      <label title='Whats the recovery DC of this Effect?'>Difficulty&nbsp;Class
        <input type='number' name='DC' placeholder='15' /></label>
      <label title='How long should this Effect last? 0 for forever'>Duration
        <input type='number' name='duration' placeholder='0' /></label>
      <label title='Should this Effect tick at the end of turn?'>End&nbsp;of&nbsp;Turn
        <input checked type='checkbox' name='endOfTurn' /></label>
    </div>
    <div class='automated-effects-hidden' name='experimentalOptions'>
      <h2 style='flex: inherit;'>Experimental&nbsp;Options:</h2>
      <div class='form-fields'>
        <label title='Should this Effect cause Healing instead of damage?'>Healing
          <input type='checkbox' name='isHealing' /></label>
        <label
          title='Removes the token icon and prevents chat messages, WARNING: this also removes all feedback as to whats happening use at your own risk!'
        >Silent
          <input type='checkbox' name='isSilent' /></label>
          {{!<label title='What kind of save is needed to remove this effect?'>Save Type
          <select name='saveType'>
            <option value='flat'>Flat</option>
            <option value='fortitude'>Fortitude</option>
            <option value='reflex'>Reflex</option>
            <option value='will'>Will</option>
          </select>}}
        </label>
      </div>
    </div>
  </div>
</form>
<div>
  <button type='button' name='apply'>Apply</button>
</div>